h1 {
    color: purple;
    text-align: center;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    height: 200px;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(188,107,193,1) 66%, rgba(0,212,255,1) 100%);
}

div {
    color: rebeccapurple;
    list-style: none;
    display: inline-block;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    height: 200px;
}
.imagen{
    text-align: center;
    justify-content: center;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(188,107,193,1) 66%, rgba(0,212,255,1) 100%);
}
@media screen and (max-width: 480px){
    .footer{
        display: flex;
        flex-direction: column;
    }
}
nav{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

nav img{
    border-radius: 70%;
    position: sticky
}

nav ul li{
    list-style: none;
    display: flex;
    text-decoration: none;
    text-align: right;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 30px;
}

}
.titulos ul li a{
    text-decoration: none;
    background-color: gainsboro;
    font-size: 30px;
    padding: 5px 12px;
    border: solid 1px ;
    list-style: none;
    justify-content: space-around;
  
}

.nosotros{
    text-align: center;
    justify-content: center;
    width: 100%;
    width: 200px;
    height: 200px;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(188,107,193,1) 66%, rgba(0,212,255,1) 100%);
   
}
.visitanos{
    text-align: center;
    justify-content: center;
    width: 100%;
    width: 200px;
    height: 200px;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(188,107,193,1) 66%, rgba(0,212,255,1) 100%);
   
}

